{% extends template('widget') %}

{% block body %}
    <input is="ff-searchbox" placeholder="{{ 'factfinder.web-components.searchbox.search' | trans }}" {{ _widget.searchBoxConfig|raw }} />
    <button is="ff-searchbutton" {{ _widget.searchButtonConfig|raw }}>{{ 'factfinder.web-components.searchbox.search.button' | trans }}</button>

    <ff-suggest>
        <section>
            <div data-container="suggestType">
                <span>{{ 'factfinder.web-components.searchbox.suggestion' | trans }}</span>
                <div>
                    <!--ff-suggest-items are always added at the original postion of the template-->
                    <ff-suggest-item type="suggestType">
                        {% verbatim %}
                            <span>{{name}}</span>
                        {% endverbatim %}
                    </ff-suggest-item>
                </div>
            </div>
        </section>
    </ff-suggest>

    <ff-record-list unresolved>
        <ff-record>
            {% verbatim %}
                <img data-image="{{record.ImageName}}">
                <a href="https://www.bergfreunde.de/{{record.Deeplink}}" onclick="return false;"
                   data-redirect="https://www.bergfreunde.de/{{record.Deeplink}}" data-redirect-target="_blank">
                    {{record.Title}}
                </a>

                <div class="priceContainer"><span class="brand">{{record.Manufacturer}}</span> <span class="price">{{record.Price}} €</span>
                </div>
            {% endverbatim %}
        </ff-record>
    </ff-record-list>
{% endblock %}