{% extends template('widget') %}

{% block body %}
    <input is="ff-searchbox" placeholder="{{ 'factfinder.web-components.searchbox.search' | trans }}" {{ _widget.searchBoxParams|raw }} />
    <button is="ff-searchbutton" {{ _widget.searchButtonParams|raw }}>{{ 'factfinder.web-components.searchbox.search.button' | trans }}</button>

    <ff-suggest>
        <section>
            <div data-container="suggestType">
                <span>{{ 'factfinder.web-components.searchbox.suggestion' | trans }}</span>
                <div>
                    <!--ff-suggest-items are always added at the original postion of the template-->
                    <ff-suggest-item type="suggestType">
                        {% verbatim %}
                            <span>{{name}}</span>
                        {% endverbatim %}
                    </ff-suggest-item>
                </div>
            </div>
        </section>
    </ff-suggest>
{% endblock %}