{% extends template('widget') %}

{% block body %}
    {% if  _widget.recordId %}
        <script>
            var recommendationElement = document.querySelector("ff-recommendation");
            //This triggers the recommendation service request
            recommendationElement.recordId = "{{ _widget.recordId|raw }}";//Get a record id from a searchresult.
        </script>
    {%  endif %}

    <ff-recommendation {{ _widget.recommendationConfig|raw }}>
        <div class="recommendationHeader">{{ 'factfinder.web-components.recommendations.title' | trans }}</div>
        <ff-record-list >
            <!-- in this demo a click on the product sets the recommendation product-->
            <ff-record>
                {% verbatim %}
                    <a data-redirect="{{record.Deeplink}}"
                       data-redirect-target="_blank"
                       data-anchor="https://www.myshop.de{{record.Deeplink}}" >
                        Shop


                        <img data-image="{{record.ImageName}}">
                        <span>{{record.Title}}</span>
                    </a>
                {% endverbatim %}
            </ff-record>
        </ff-record-list>
    </ff-recommendation>
{% endblock %}